.ClosedCardNotes {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #191919;
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 1px;
  align-items: center;
}

.ClosedCardNotes h3:hover {
  color: #ff5733;
}

.ExpandedCardNotes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: #191919;
  padding: 20px;
  overflow-x: none;
  flex-wrap: wrap;
  overflow-y: auto;
}

.ExpandedCard h3 {
  text-align: center;
}

.ExpandedCard p {
  font-size: 20px;
}

.ExpandedCardNotes .CardButtons .CompleteButton {
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00aa00;

  border: none;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.HabitItem {
  text-decoration: none;
}

.HabitList {
  margin-left: 20px;
  text-decoration: none;
}
