.glowing-button {
  background: linear-gradient(145deg, #ff5733, #ff1044);
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-family: "Poppins", sans-serif; /* Usa una fuente moderna */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.glowing-button:hover {
  box-shadow: 0 0 10px #ff1044, 0 0 20px #ff1044, 0 0 40px #ff1044;
}
