.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 20px;
  color: #fff;
}

.navLink:hover {
  opacity: 1;
  text-decoration: underline;
}

.navLink {
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
